<h3 class="my-5">
    Contact us
</h3>

<div class="row gx-5">
    <img src="~/Images/contact/contact-demo.jpg" class="img-fluid col-5" />
    <div class="col-7">
        <h1>We'd Love to Hear from You</h1>
        <h5>Please contact us by sending an email or follow us on our social meadia platforms!</h5>
        <email address="info@@chaoscraftsshop.com" content="E-mail" class="btn btn-secondary"></email>
        <a href="https://www.instagram.com/chaoscraft3d/" target="_blank" class="instagram-button">
            <button class="btn btn-secondary">Instagram</button>
        </a>
    </div>
</div>
